<% if inn.picture? %>
  <%= image_tag inn.picture %>
<% else %>
<div class="border-bottom mb-5">
  <h1 class="my-4"><i class="fa-solid fa-house-chimney-user fa-lg"></i></h1>
</div>
<% end %>
<h5><%= inn.brand_name %></h5>
<p><%= inn.city %> - <%= inn.state %> </p>