<% if @recent_inns.empty? %>
  <h2> Ainda não existem pousadas cadastradas. </h2>
<%else%>
  <aside>
    <h2>Cidades com Pousadas</h2>
    <%get_cities(@inns).each do |city| %>
      <%= link_to city, search_by_city_inns_path(city)  %>
    <%end%>
  </aside>
  <div>
    <h1>Pousadas Mais Recentes:</h1>
    <% @recent_inns.each do |recent_inn|%>
    <ul>
      <%= render 'inns/inn_details', inn: recent_inn %>
    </ul>
    <% end %>
  </div>
  <h1><%= Inn.model_name.human(count: @inns.count) %></h1>
  <% @inns.each do |inn| %>
    <ul>
      <%= render 'inns/inn_details', inn: inn %>
    </ul>
  <%end%>
<%end%>

