<h1>Editar Pousada</h1>
<% if @inn.errors.any? %>
<section class="rounded p-2 border border-1 fw-bold mt-3">
  <h4 class="text-center">Verifique os erros abaixo:</h4>
  <ul>
    <% @inn.errors.full_messages.each do |msg| %>
    <li class="text-danger"><%=msg%></li>
    <%end%>
  </ul>
</section>
<% end %>

<%= render 'form' %>