<h1>Cadastre sua Pousada</h1>
<% if current_user.inn %>
  <p>Você já possui uma pousada cadastrada. Não sera possível cadastrar uma nova.</p>
<%end%>

<% if @inn.errors.any? %>
  <p>Verifique os erros abaixo:</p>
  <ul>
    <% @inn.errors.full_messages.each do |msg| %>
    <li><%=msg%></li>
    <%end%>
  </ul>
<% end %>

<%= render 'form' %>

