<h1>Quartos da pousada</h1>
<% if current_user %>
  <% if @inn == current_user.inn%>
    <% @rooms.each do |room| %>
      <h2> <%= link_to room.name, inn_room_path(@inn, room) %> </h2>
      <ul>
        <li>Descrição: <%= room.description %></li>
      </ul>
    <%end%>
  <%end%>
<%else%>
  <% @rooms.each do |room| %>
      <h2> <%= link_to room.name, inn_room_path(@inn, room) %> </h2>
      <ul>
        <li>Descrição: <%= room.description %></li>
      </ul>
  <%end%>
  <% if @rooms.empty? %>
    <h2>Não existem quartos disponíveis no momento.</h2>
  <%end%>
<% end %>