/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 $theme-colors: (
  "primary":    #f84d4f,
  "secondary":  #2a3348,
  "success":    #198754,
  "info":       #0d6efd,
  "warning":    #ffc107,
  "danger":     #dc3545,
  "light":      #b9b8b8,
  "dark":       #1b1b1b
);
 
@import "bootstrap";
@import "font-awesome";
@import "navbar.scss";

main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

form img{
  width: 2rem;
  height: 2rem;
}

*{
  padding: 0;
  margin: 0;
  color: #1b1b1b;
}

label{
  color: #2a3348;
}
h1, h2{
  color: #2a3348
}

.link:hover{
  color: white !important;
}

.field_with_errors input{
  border: 1px solid red !important;
}

input[type="checkbox"]:checked {
  background-color: #f84d4f;
}

input[type="radio"]:checked {
  background-color: #f84d4f;
}

input[type="radio"], input[type="checkbox"]{
  width: 1.2rem;
  height: 1.2rem;
}

ul.inn-details{
  width: 35vw !important;
}

.inn-details img{
  height: 35vh;
}

.inn-card{
  border-radius: 12px;
  text-align: center;
  width: 30rem;
  padding-bottom: 1rem;
}

.inn-card:hover{
  transform: scale(1.05, 1.05);
  transition-duration: 300ms;
}

.room-card{
  border: 1px solid  !important;
  border-radius: 12px;
  width: 27.5rem;
  height: 30rem;
}

.room-card img{
  height: 50%;
}

.room-card:hover{
  transform: scale(1.01, 1.01);
  transition-duration: 300ms;
}
.room-card li{
  margin-bottom: 0.5rem;
}

.room-card > ul, .room{
  list-style-type: none !important;
}

.inn-card img, .inn-image{
  width: 100%;
  height: 10vh;
  object-fit: cover;
  margin-bottom: 1rem; 
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

img.room-picture{
  height: 25vh;
}

.admin-control, .admin-room-control{
  position: fixed;
  float: right;
  top: 40%;
  left: 85%;
  transform: translate(-50%, -50%);
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);  
}

.admin-room-control{
  top: 25%;
}

.reservation-details > p{
  font-size: 1.1rem;
}

input[type=file]{
  background-color: white;
  cursor: pointer;
}

.picture-upload:hover{
  cursor: pointer;
}

button.logout-button:hover{
  transition-duration: 300ms;
  background-color: #dc3545;
  opacity: 80%;
}

button.logout-button{
  background-color: #dc3545;
  border-radius: 0.5rem;
}
@media (max-width: 1000px) {
  .admin-control, .admin-room-control{
    width: 100px;
    padding: 0;
  }
}
